.game {
  background-color: rgb(243, 246, 247);
  color: rgb(0, 0, 0);
  width: 1600px;
  height: 900px;
  font-family: Arial Narrow, sans-serif;
  font-size: 0;
  line-height: 0;
  position: relative;
  white-space: nowrap;

  &__person {
    &_red{
      background-color: #c70000;
    }
    &_green{
      background-color: #02ac02;
    }
    &_none{
      background-color: rgb(25, 192, 245);
    }

    &_left {
      background-color: rgb(243, 246, 247);
      position: absolute;
      left: 0;
      border-left-color: rgb(0, 0, 0);
      border-left-style: none;
      border-left-width: 0;
      vertical-align: top;

    }

    &_right {
      left: 800px;
      vertical-align: top;
      width: 800px;

      .person__name{
        color: white;
      }

      .person__question {
        z-index: 5;
        margin-top: 300px;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 137.34px;
        right: 200px;
        font-size: 502.74px;
        color: rgba(243, 246, 247, .63473);
        text-shadow: 0 0 12px hsl(0deg 0% 100% / 9%);
        pointer-events: none;
      }
    }

  }

  &__controls {
    margin-left: 850px;
  }
}